#include <dt-bindings/led/led.h>


&pinctrl {
    pwm0_default: pwm0_default {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 20)>;
        };
/*        
        group2 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 22)>;
        };
        group3 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 24)>;
        };
*/
    };
    pwm0_sleep: pwm0_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 20)>;
            low-power-enable;
        };
/*        
        group2 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 22)>;
            low-power-enable;
        };
        group3 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 24)>;
            low-power-enable;
        };
*/        
    };
};

&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
 /*
    ch0-pin = <20>;
    ch1-pin = <22>;
    ch2-pin = <24>;
 */
};

/ {
    backlight: pwmleds {
        compatible = "pwm-leds";
        label = "Backlight LEDs";
        pwm_led_0 {
            pwms = <&pwm0 0 10000 PWM_POLARITY_NORMAL>; /* LED 0 */
        };
/*
        pwm_led_0 {
            pwms = <&pwm0 20 10000 PWM_POLARITY_NORMAL>; /* LED 0 */
            label = "Backlight LED 0";
        };
        pwm_led_1 {
            pwms = <&pwm0 22 10000 PWM_POLARITY_NORMAL>; /* LED 1 */
            label = "Backlight LED 1";
        };
        pwm_led_2 {
            pwms = <&pwm0 24 10000 PWM_POLARITY_NORMAL>; /* LED 2 */
            label = "Backlight LED 2";
        };
*/
    };
};


/ {
	chosen {
		 zmk,backlight = &backlight;
	};
};
